SOAPInsertOperation/SOAPInsertOperation_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="SOAPInsertOperation">
            
    <xsd:complexType>
                
      <xsd:sequence>

      	<xsd:element name="name" type="xsd:string" />

      	<xsd:element name="id" type="xsd:int"></xsd:element>
      </xsd:sequence>

    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="SOAPInsertOperationResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
