SOAPCRUDOpeartion/SOAPCRUD_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SOAPCRUD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SOAPCRUD/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="Insert">
            
    <xsd:complexType>
                
      <xsd:sequence>
                  	
        <xsd:element name="ID" type="xsd:int"/>
                  	
        <xsd:element name="FIRSTNAME" type="xsd:string"/>
                  	
        <xsd:element name="LASTNAME" type="xsd:string"/>
                  	
        <xsd:element name="AGE" type="xsd:int"/>
                  	
        <xsd:element name="DOB" type="xsd:date"/>
                  	
        <xsd:element name="PHONENO" type="xsd:int"/>
                  	
        <xsd:element name="ACCOUNT_NUMBER" type="xsd:int"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="InsertResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
