RemoveQuotesInJSONMessageUsingRecentContentDescriptor/validate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element dfdl:initiator="%#x7B;student:%#x7B;" dfdl:terminator="}}" ibmSchExtn:docRoot="true" name="validate">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:initiator="" dfdl:separator="," dfdl:separatorSuppressionPolicy="anyEmpty">
                				
        			
                
        <xsd:element dfdl:initiator="name:" name="name" type="xsd:string"/>
                        
        <xsd:element dfdl:initiator="Id:" name="Id" type="xsd:string"/>
                    
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
