DynamicLogging/DFDL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element ibmSchExtn:docRoot="true" name="DFDL">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:initiator="" dfdl:separator="" dfdl:terminator="">
                				
        
        <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence dfdl:initiator="|**|" dfdl:separator="|*|" dfdl:terminator="|**|">
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="value1" name="Application_name" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="value2" name="Messageflow_name" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="value3" name="Node_name" type="xsd:string"/>
                                                        
              
              <xsd:element ibmDfdlExtn:sampleValue="value4" name="EG_name" type="xsd:string"/>
                                                        
              
              <xsd:element ibmDfdlExtn:sampleValue="value5" name="ChannelId" type="xsd:string"/>
                                                        
              
              <xsd:element dfdl:textNumberPattern="0" name="RequestId" type="xsd:int"/>
                                                        
              
              <xsd:element dfdl:initiator="|**|" dfdl:terminator="|**|" name="RequestTime" type="xsd:date"/>
                                                        
              
              <xsd:element ibmDfdlExtn:sampleValue="value8" name="Requestmessage" type="xsd:string"/>
                                                        
              
              <xsd:element ibmDfdlExtn:sampleValue="value9" name="ResponseTime" type="xsd:string"/>
                                                    
                            
              <xsd:element ibmDfdlExtn:sampleValue="value10" name="Responsemessage" type="xsd:string"/>
                                      
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                				
			
      
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
