InsertOpeartionUsingSOAP/InsertOpeartionUsingSOAP_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/InsertOpeartionUsingSOAP/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/InsertOpeartionUsingSOAP/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperation">
            
    <xsd:complexType>
                
      <xsd:sequence>

      	<xsd:element name="id" type="xsd:string" />

      	<xsd:element name="firstname" type="xsd:string"></xsd:element>
      	<xsd:element name="lastname" type="xsd:string"></xsd:element>
                <xsd:element name="age" type="xsd:string"></xsd:element>

      	<xsd:element name="phoneno" type="xsd:string"></xsd:element>
      	<xsd:element name="accountno" type="xsd:string"></xsd:element>
      </xsd:sequence>

    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperationResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
