CSVToFixedLengthApp/FixedLength.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="FixedLength">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
                				
        
        <xsd:element dfdl:lengthKind="delimited" name="header">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="head_valu1" name="head_elem1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="head_valu2" name="head_elem2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="head_valu3" name="head_elem3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                        
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="head_value4" name="head_elem4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                    
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                				
        
        <xsd:element dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu1" name="body_elem1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu2" name="body_elem2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            							
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu3" name="body_elem3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                        
              
              <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_value4" name="body_elem4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                    
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                			
      
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
